.tag {
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 0 2px 2px 0;
  background: #ddd;
  border: 1px solid #ccc;
  position: relative;
  display: flex;

  .tagClose {
    padding-left: 10px;
    color: #999;

    &:hover {
      color: #555;
      cursor: pointer;
    }

  }
}
