.button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  line-height: normal;
  margin: 0;
  height: 36px;
  min-width: 95px;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  white-space: nowrap;

  &:hover,
  &:active {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .icon {
    span:before {
      vertical-align: bottom;
      height: 14px;
    }
    padding-right: 0.3rem;
  }
}

.default {
  composes: button;
  background-color: $lighter-gray;
  color: $dark-gray;

  &:hover,
  &:active {
    background-color: lighten($lighter-gray, 0.04);
  }
}

.primary {
  composes: button;
  color: white;
  background-color: $theme-color-primary;
}

.success {
  composes: button;
  background-color: $success-color;
  border-color: darken($success-color, 0.1);
  color: white;

  &:hover,
  &:active {
    background-color: lighten($success-color, 0.1);
  }
}

.danger {
  composes: button;
  background-color: $error-color;
  border-color: darken($error-color, 0.1);
  color: white;

  &:hover,
  &:active {
    background-color: lighten($error-color, 0.1);
  }
}

.important {
  composes: button;
  background-color: darken($warning-color, 0.07);
  border-color: darken($warning-color, 0.1);
  color: white;

  &:hover,
  &:active {
    background-color: darken($warning-color, 0.02);
  }
}

.secondary {
  composes: button;
  background-color: transparent;
  border: 1px solid $theme-color-primary;
  color: $theme-color-primary;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;

  &:hover,
  &:active {
    border: 1px solid darken($medium-gray, 0.2);
    color: darken($medium-gray, 0.1);
  }
}

.secondaryInverse {
  composes: button;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;

  &:hover,
  &:active {
    border-color: $light-gray;
    color: $light-gray;
  }
}

.text {
  composes: button;
  background-color: transparent;
  color: $medium-gray;
  transition: color 0.15s ease-in-out;
  top: 1px;
  position: relative;

  &:hover,
  &:active {
    color: darken($medium-gray, 0.1);
  }
}

.textInverse {
  composes: button;
  background-color: transparent;
  color: white;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;

  &:hover,
  &:active {
    color: $light-gray;
  }
}

.disabled {
  composes: button;
  background-color: #cccccc !important;
  color: #999999;

  &:hover,
  &:active {
    text-decoration: none;
    cursor: auto;
  }

  &:focus {
    outline: none;
  }
}
