.button {
  display: inline-block;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  line-height: normal;
  margin: 0;
  padding: 8px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  white-space: nowrap;
}

.button:focus {
  outline: none;
}

.icon {
  span:before {
    vertical-align: bottom;
  }
}

.default {
  composes: button;
  background-color: $lighter-gray;
  box-shadow: 0px 2px darken($lighter-gray, 0.1);
  color: $dark-gray;
}

.default:hover,
.default:active {
  text-decoration: none;
  cursor: pointer;
  background-color: lighten($lighter-gray, 0.04);
  box-shadow: 0px 2px $lighter-gray;
}

.primary {
  composes: button;
  background-color: $theme-color-primary;
  border-color: darken($theme-color-primary, 0.1);
  box-shadow: 0px 2px darken($theme-color-primary, 0.1);
  color: white;
}

.primary:hover,
.primary:active {
  text-decoration: none;
  cursor: pointer;
  background-color: lighten($theme-color-primary, 0.05);
  box-shadow: 0px 2px $theme-color-primary;
}

.primary:focus {
  outline: none;
}

.success {
  composes: button;
  background-color: $success-color;
  border-color: darken($success-color, 0.1);
  box-shadow: 0px 2px darken($success-color, 0.1);
  color: white;
}

.success:hover,
.success:active {
  text-decoration: none;
  cursor: pointer;
  background-color: lighten($success-color, 0.1);
  box-shadow: 0px 2px $success-color;
}

.success:focus {
  outline: none;
}

.danger {
  composes: button;
  background-color: $error-color;
  border-color: darken($error-color, 0.1);
  box-shadow: 0px 2px darken($error-color, 0.1);
  color: white;
}

.danger:hover,
.danger:active {
  text-decoration: none;
  cursor: pointer;
  background-color: lighten($error-color, 0.1);
  box-shadow: 0px 2px $error-color;
}

.danger:focus {
  outline: none;
}

.important {
  composes: button;
  background-color: darken($warning-color, 0.07);
  border-color: darken($warning-color, 0.1);
  box-shadow: 0px 2px darken($warning-color, 0.12);
  color: white;
}

.important:hover,
.important:active {
  text-decoration: none;
  cursor: pointer;
  background-color: darken($warning-color, 0.02);
  box-shadow: 0px 2px darken($warning-color, 0.05);
}

.important:focus {
  outline: none;
}

.secondary {
  composes: button;
  background-color: transparent;
  border: 1px solid $medium-gray;
  color: $medium-gray;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;
}

.secondary:hover,
.secondary:active {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid darken($medium-gray, 0.2);
  color: darken($medium-gray, 0.1);
}

.secondary:focus {
  outline: none;
}

.secondaryInverse {
  composes: button;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;
}

.secondaryInverse:hover,
.secondaryInverse:active {
  cursor: pointer;
  border-color: $light-gray;
  color: $light-gray;
}

.secondaryInverse:focus {
  outline: none;
}

.text {
  composes: button;
  background-color: transparent;
  color: $medium-gray;
  transition: color 0.15s ease-in-out;
  top: 1px;
  position: relative;
}

.text:hover,
.text:active {
  text-decoration: none;
  cursor: pointer;
  color: darken($medium-gray, 0.1);
}

.text:focus {
  outline: none;
}

.textInverse {
  composes: button;
  background-color: transparent;
  color: white;
  position: relative;
  transition: color 0.15s ease-in-out;
  top: 1px;
}

.textInverse:hover,
.textInverse:active {
  cursor: pointer;
  color: $light-gray;
}

.textInverse:focus {
  outline: none;
}

.disabled {
  composes: button;
  background-color: #cccccc;
  box-shadow: 0px 2px darken(#cccccc, 0.1);
  color: #999999;
  cursor: auto;
}
