$background-lightness: 95;
$text-lightness: 45;
$text-hover-lightness: 65;

.alert {
  padding: 10px 20px;
  border-radius: 2px;
  background-color: lightness($info-color, $background-lightness);
  display: flex;
  color: lightness($info-color, $text-lightness);

  h4 {
    margin: 0px;
    line-height: 35px;
    font-size: 16px;
  }

  .content {
    flex: 2;
    display: flex;
    flex-wrap: wrap;

    .titleAndBody {
      flex: 2;
    }

    &.verticalLayout {
      flex-direction: column;

      .action {
        padding-top: 0.75rem;
      }
    }
  }

  .icon {
    margin-right: 10px;
    margin-top: 10px;
  }

  .close {
    cursor: pointer;
    font-weight: bold;
    z-index: 3;

    &:hover {
      color: lightness($info-color, $text-hover-lightness);
      transition: color 0.5s ease-out;
    }
  }

  .icon {
    margin-right: 10px;
  }

  &.warning {
    background-color: lightness($warning-color, $background-lightness);
    color: lightness($warning-color, $text-lightness);

    .close {
      &:hover {
        color: lightness($warning-color, $text-hover-lightness);
      }
    }

    .action {
      button {
        border-color: lightness($warning-color, $text-lightness);
        color: lightness($warning-color,  $text-lightness) !important;

        &:hover {
          border-color: lightness($warning-color, $text-hover-lightness);
          color: lightness($warning-color, $text-hover-lightness) !important;
        }
      }
    }
  }

  &.success {
    background-color: lightness($success-color, $background-lightness);
    color: lightness($success-color, $text-lightness);

    .close {
      &:hover {
        color : lightness($success-color, $text-hover-lightness);
      }
    }

    .action {
      button {
        border-color: lightness($success-color, $text-lightness);
        color: lightness($success-color, $text-lightness) !important;

        &:hover {
          border-color: lightness($success-color, $text-hover-lightness);
          color: lightness($success-color, $text-hover-lightness) !important;
        }
      }
    }
  }

  &.error {
    background-color: lightness($error-color, $background-lightness);
    color: lightness($error-color, $text-lightness);

    .close {
      &:hover {
        color : lightness($error-color, $text-hover-lightness);
      }
    }

    .action {
      button {
        border-color: lightness($error-color, $text-lightness);
        color: lightness($error-color, $text-lightness) !important;

        &:hover {
          border-color: lightness($error-color, $text-hover-lightness);
          color: lightness($error-color, $text-hover-lightness) !important;
        }
      }
    }
  }



  .action {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;

    button {
      border-color: lightness($info-color, $text-lightness);
      color: lightness($info-color, $text-lightness) !important;

      &:hover {
        border-color: lightness($info-color, $text-hover-lightness);
        color: lightness($info-color, $text-hover-lightness) !important;
      }
    }
  }

  .detailed {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    color: $darker-gray;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    h4 {
        margin-bottom: 1.33em;
    }

    a {
      text-decoration: none;
      color: $info-color;
    }
  }
}