
.alert {
  padding: 10px 20px;
  border-radius: 2px;
  background-color: lighten($info-color, 0.95);
  display: flex;
  color: $info-color;

  h4 {
    margin: 0px;
    line-height: 35px;
    font-size: 16px;
  }

  .content {
    flex: 2;
    display: flex;
    flex-wrap: wrap;

    .titleAndBody {
      flex: 2;
    }
  }

  .icon {
    margin-right: 10px;
    margin-top: 10px;
  }

  .close {
    color: $info-color;
    cursor: pointer;
    font-weight: bold;
    z-index: 3;

    &:hover {
      color: darken($info-color, 0.10);
      transition: color 0.5s ease-out;
    }
  }

  .icon {
    margin-right: 10px;
  }

  &.warning {
    background-color: lighten($warning-color, 0.45);
    color: darken($warning-color, 0.10);

    .close {
      color: darken($warning-color, 0.10);

      &:hover {
        color: darken($warning-color, 0.15);
      }
    }

    .action {
      button {
        border-color: darken($warning-color, 0.1);
        color: darken($warning-color, 0.1) !important;

        &:hover {
          border-color: darken($warning-color, 0.15);
          color: darken($warning-color, 0.15) !important;
        }
      }
    }
  }

  &.success {
    background-color: lighten($success-color, 0.4);
    color: darken($success-color, 0.15);

    .close {
      color: darken($success-color, 0.15);

      &:hover {
        color : darken($success-color, 0.1);
      }
    }

    .action {
      button {
        border-color: darken($success-color, 0.15);
        color: darken($success-color, 0.15) !important;

        &:hover {
          border-color: darken($success-color, 0.1);
          color: darken($success-color, 0.1) !important;
        }
      }
    }
  }

  &.error {
    background-color: lighten($error-color, 0.4);
    color: $error-color;

    .close {
      color: $error-color;

      &:hover {
        color : darken($error-color, 0.1);
      }
    }

    .action {
      button {
        border-color: $error-color;
        color: $error-color !important;

        &:hover {
          border-color: darken($error-color, 0.1);
          color: darken($error-color, 0.1) !important;
        }
      }
    }
  }

  .action {
    margin-left: 10px;
    margin-right: 10px;
    button {
      border-color: $info-color;
      color: $info-color !important;

      &:hover {
        border-color: lighten($info-color, 0.02);
        color: lighten($info-color, 0.02) !important;
      }
    }
  }

  .detailed {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    color: $darker-gray;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    h4 {
        margin-bottom: 1.33em;
    }

    a {
      text-decoration: none;
      color: $info-color;
    }
  }
}

@media only screen and (max-width : 480px) {
  .alertMsg {
    .alertAction {
      bottom: 15px;
      left: 46px;
      right: auto;
      top: auto;

      & + .alertBody {
        padding-right: 0px;
        padding-bottom: 50px;
      }
    }
  }
}
